<a href="https://colab.research.google.com/github/adityapatil4141/75-HARD-coding/blob/main/75_HARD_coding_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Questions On String :

In [ ]:
# Hello world:
print('hello world')

hello world

In [ ]:
# Write a Python program to reverse a string.

def reverse_string(input_string):
    return input_string[::-1]

In [ ]:
reverse_string('hello')

'olleh'

In [ ]:
# Write a Python program to check if a string is a palindrome.
def palindrome_checker(word):
  word_reverse = word[::-1]
  if word_reverse == word:
    print("palindrome")
  else:
    print("not a palindrome")

In [ ]:
palindrome_checker('nitin')

palindrome

In [ ]:
# Write a Python program to count the number of vowels in a string.
def vowels_count(word):
  vowles= ['a','e','i','o','u']
  count = []
  for i in word.lower():
    if i in vowles:
      count.append(i)


  return len(count)

In [ ]:
vowels_count('Aditya')

3

#  Integers, Floats & Booleans

Problem 1:

In a cricket tournament, based on the outcome of a particular match a team gets following points:

-wins gets 3 points

-draws gets 1 points

-losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [ ]:
wins = 3
draws = 1
looses = 0

points_gained = 4*wins + 3*looses + 1*draws
print(f"Points gained by team aravali = {points_gained}")

Points gained by team aravali = 13

Problem 2:

Root of a function  ð‘“(ð‘¥)  is defined as the value  ð‘¥  where  ð‘“(ð‘¥)=0

Consider a quadratic function  ð‘“(ð‘¥)=ð‘¥2+3ð‘¥âˆ’4

**Find the value of the function  ð‘“(ð‘¥)  at points  ð‘¥=2,ð‘¥=âˆ’1,ð‘¥=1 .**

In [ ]:
x= 2
fx_at_2 = x**2 + 3*x - 4
print(f'where(x = 2)= {fx_at_2}')

where(x = 2)= 6

In [ ]:
x= -1
fx_at_minus1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_minus1}')

where(x = -1)= -6

In [ ]:
x= 1
fx_at_1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_1}')

where(x = -1)= 0

Return the boolean for each value of  ð‘¥  to find out whether that value is a root of  ð‘“(ð‘¥)

In [ ]:
fx_at_2==0

False

In [ ]:
fx_at_minus1==0

False

In [ ]:
fx_at_1==0

True

Problem 3

A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
apples = 45
oranges = 65
bananas = 30

In [ ]:
# apple perecentage
total = apples+oranges+bananas
percentage_apples = apples/total*100
percentage_apples

32.142857142857146

In [ ]:
# Oranges percentage
percentage_orange = oranges/total*100
percentage_orange

46.42857142857143

In [ ]:
# bananas percentage
percentage_banana = bananas/total*100
percentage_banana

21.428571428571427

Problem 4

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

In the first round, you had to guess the number of Maths Majors and you correctly guessed 20 of them.

In the second round, you had to guess the number of Economics Majors and you correctly guessed 30 of them.

In the final third round, you had to guess the number of Physics Majors and you correctly guessed 20 of them.

Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [ ]:
maths_major = 30
economics_major = 45
physics_major = 25
guessed_maths_major = 20
guessed_economics_major = 30
guessed_physics_major = 20

majors = maths_major+economics_major+physics_major
correct_guesses = guessed_maths_major+guessed_economics_major+guessed_physics_major

In [ ]:
# maths accuracy
maths_accuracy = guessed_maths_major/maths_major*100
maths_accuracy

66.66666666666666

In [ ]:
# physics accuracy
physics_accuracy = guessed_physics_major/physics_major*100
physics_accuracy

80.0

In [ ]:
# Economics accuracy
economics_accuracy = guessed_economics_major/economics_major*100
economics_accuracy

66.66666666666666

In [ ]:
Total_accuracy = correct_guesses/majors*100
Total_accuracy

70.0

#Tuples, Sets and Dictionaries.

Another measure of average

Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
unique_temp = list(set(temperatures))

In [ ]:
temp_dict = {}

key = unique_temp[0]
temp_dict[key] = temperatures.count(key)

key = unique_temp[1]
temp_dict[key] = temperatures.count(key)

key = unique_temp[2]
temp_dict[key] = temperatures.count(key)

key = unique_temp[3]
temp_dict[key] = temperatures.count(key)

key = unique_temp[4]
temp_dict[key] = temperatures.count(key)

key = unique_temp[5]
temp_dict[key] = temperatures.count(key)

In [ ]:
temp_dict

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
temp_dict_values = list(temp_dict.values())
max_count= max(temp_dict_values)

most_frequent_temp_index = temp_dict_values.index(max_count)

In [ ]:
most_frequent_temp_index

1

In [ ]:
temp_dict_keys = list(temp_dict.keys())

# Print the list of dictionary keys
print(temp_dict_keys)

# Calculate the mode temperature
mode_temp =  temp_dict_keys[most_frequent_temp_index]
print(f'The mode of the temperatures is {mode_temp}')

[33, 34, 39, 40, 42, 29]
The mode of the temperatures is 34

You are given a list of tuples. You need to replace the last element of the last tuple

Expected output : Replace the last element 70 with 100

output_list = [(10,20,30),(30,40,50),(50,60,100)]

In [ ]:
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
a=list_of_tuples[::-1]
a.append((50,60,100))
print(a)
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
list_of_tuples[-1]= (50,60,100)
print(list_of_tuples)

[(50, 60, 70), (30, 40, 50), (10, 20, 30), (50, 60, 100)]
[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [ ]:
# Default set of stop words
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out",
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last half yearly results'
custom_stop_words = set(["hello","good","morning","half","yearly"])

stop_words.update(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

stop_words.intersection(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}
True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}

#Lists

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

 A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

The expected output

output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

In [ ]:
max_temp = max(temperatures) #42
min_temp = min(temperatures) #29

max_temp_index = temperatures.index(max_temp)
min_temp_index = temperatures.index(min_temp)

temperatures[max_temp_index]==min_temp
temperatures[min_temp_index]==max_temp

False

In [ ]:
temperatures

[34, 40, 29, 33, 42, 37, 39]

Measures of Averages

Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.

Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  ð‘  numbers where  ð‘  is odd, then median is the element in the middle i.e,  (ð‘+12)ð‘¡â„Ž  element. If  ð‘  is even, then median is the mean of  (ð‘2)ð‘¡â„Ž  and  (ð‘2+1)ð‘¡â„Ž  elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
length_product_price = len(prod_price_list)
sum__product_price = sum(prod_price_list)
sorted_prices = sorted(prod_price_list)

length_sorted=len(sorted_prices)

mean = sum__product_price/length_product_price
median_price = (sorted_prices[int(length_sorted/2)] + sorted_prices[int(length_sorted/2)+1])/2

In [ ]:
mean

1975.0

In [ ]:
median_price

660.0

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector.
While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

In [ ]:
a= tech_companies[-1]
b= tech_companies[:-1]+ a

b

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

#BMI CALCULATOR

In [ ]:
height = input()
weight = input()
height = float(height)
print(round(int(weight)/(height**2)))

# LIFE IN WEEKS

In [ ]:
age = input()
age = int(age)
total_weeks = 4680
timeleft = total_weeks-(age*52)
print(f"You have {timeleft} weeks left.")

#Even Odd

In [ ]:
#Even Odd

number = int(input())
if number %2 ==0:
  print("This is an even number.")
else :
  print("This is an odd number.")

#HEADS OR TAILS

In [ ]:
#HEADS OR TAILS
first_flip = random.randint(0,1)
if first_flip == 1:
  print("Heads")
else :
  print("Tails")

# LEAP YEAR

In [ ]:
year = int(input())
if year%4==0:
  if year%100 ==0:
    if year%400==0:
      print("Leap year")
    else:
      print("Not leap year")

  else:
    print("Leap year")

else:
  print("Not leap year")

#TREASURE MAP

In [ ]:
line1 = ["â¬œï¸","ï¸â¬œï¸","ï¸â¬œï¸"]
line2 = ["â¬œï¸","â¬œï¸","ï¸â¬œï¸"]
line3 = ["â¬œï¸ï¸","â¬œï¸ï¸","â¬œï¸ï¸"]
map = [line1, line2, line3]
print("Hiding your treasure! X marks the spot.")
position = input() # Where do you want to put the treasure?
# Your code below
letter = position[0].lower()
abc = ["a", "b", "c"]
letter_index = abc.index(letter)
number_index = int(position[1]) - 1
map[number_index][letter_index] = "X"

print(f"{line1}\n{line2}\n{line3}")

Hiding your treasure! X marks the spot.
B3
['â¬œï¸', 'ï¸â¬œï¸', 'ï¸â¬œï¸']
['â¬œï¸', 'â¬œï¸', 'ï¸â¬œï¸']
['â¬œï¸ï¸', 'X', 'â¬œï¸ï¸']

#FIZZBUZZ

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5 ==0:
    print("FizzBuzz")
  elif i%5 ==0:
    print("Buzz")
  elif i%3==0 :
    print("Fizz")
  else:
    print(i)

# SQUARING NUMBERS

In [ ]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
squared_numbers=[]
for i in numbers:
  i=i*i
  squared_numbers.append(i)
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [ ]:
result = [x * x for x in numbers ]
print(result)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

#Filtering even numbers

In [ ]:
list_of_strings = input().split(',')
nums = [int(i) for i in list_of_strings]
result = [x for x in nums if x%2==0]
print(result)

12,13,14,15,16,17
[12, 14, 16]

#DAYS IN MONTH

In [ ]:
def is_leap(year):

  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

def days_in_month(year,month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if year %2 == 0 and is_leap(year) == True:
    return 29
  else:
    return month_days[month -1 ]


year = int(input()) # Enter a year
month = int(input()) # Enter a month
days = days_in_month(year, month)
print(days)

#FILTERING EVEN NUMBERS

In [ ]:
list_of_strings = input().split(',')

nums = [int(i) for i in list_of_strings]

result = [x for x in nums if x%2==0]

print(result)

1, 1, 2, 3, 5, 8, 13, 21, 34, 55
[2, 8, 34]

#SQUARING NUMBERS

In [ ]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

squared_numbers=[]
for i in numbers:
  i=i*i
  squared_numbers.append(i)

print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

#As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [3]:
user_date = input()

2020-05-12

In [ ]:
date_year = user_date[:4]
date_month = user_date[5:7]

if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
else:
    quarter = date_year + '-Q4'

In [ ]:
print(quarter)