<a href="https://colab.research.google.com/github/adityapatil4141/75-HARD-coding/blob/main/75_HARD_coding_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Questions On String :

In [ ]:
# Hello world:
print('hello world')

hello world

In [ ]:
# Write a Python program to reverse a string.

def reverse_string(input_string):
    return input_string[::-1]

In [ ]:
reverse_string('hello')

'olleh'

In [ ]:
# Write a Python program to check if a string is a palindrome.
def palindrome_checker(word):
  word_reverse = word[::-1]
  if word_reverse == word:
    print("palindrome")
  else:
    print("not a palindrome")

In [ ]:
palindrome_checker('nitin')

palindrome

In [ ]:
# Write a Python program to count the number of vowels in a string.
def vowels_count(word):
  vowles= ['a','e','i','o','u']
  count = []
  for i in word.lower():
    if i in vowles:
      count.append(i)


  return len(count)

In [ ]:
vowels_count('Aditya')

3

#  Integers, Floats & Booleans

Problem 1:

In a cricket tournament, based on the outcome of a particular match a team gets following points:

-wins gets 3 points

-draws gets 1 points

-losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [ ]:
wins = 3
draws = 1
looses = 0

points_gained = 4*wins + 3*looses + 1*draws
print(f"Points gained by team aravali = {points_gained}")

Points gained by team aravali = 13

Problem 2:

Root of a function  ð‘“(ð‘¥)  is defined as the value  ð‘¥  where  ð‘“(ð‘¥)=0

Consider a quadratic function  ð‘“(ð‘¥)=ð‘¥2+3ð‘¥âˆ’4

**Find the value of the function  ð‘“(ð‘¥)  at points  ð‘¥=2,ð‘¥=âˆ’1,ð‘¥=1 .**

In [ ]:
x= 2
fx_at_2 = x**2 + 3*x - 4
print(f'where(x = 2)= {fx_at_2}')

where(x = 2)= 6

In [ ]:
x= -1
fx_at_minus1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_minus1}')

where(x = -1)= -6

In [ ]:
x= 1
fx_at_1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_1}')

where(x = -1)= 0

Return the boolean for each value of  ð‘¥  to find out whether that value is a root of  ð‘“(ð‘¥)

In [ ]:
fx_at_2==0

False

In [ ]:
fx_at_minus1==0

False

In [ ]:
fx_at_1==0

True

Problem 3

A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
apples = 45
oranges = 65
bananas = 30

In [ ]:
# apple perecentage
total = apples+oranges+bananas
percentage_apples = apples/total*100
percentage_apples

32.142857142857146

In [ ]:
# Oranges percentage
percentage_orange = oranges/total*100
percentage_orange

46.42857142857143

In [ ]:
# bananas percentage
percentage_banana = bananas/total*100
percentage_banana

21.428571428571427

Problem 4

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

In the first round, you had to guess the number of Maths Majors and you correctly guessed 20 of them.

In the second round, you had to guess the number of Economics Majors and you correctly guessed 30 of them.

In the final third round, you had to guess the number of Physics Majors and you correctly guessed 20 of them.

Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [ ]:
maths_major = 30
economics_major = 45
physics_major = 25
guessed_maths_major = 20
guessed_economics_major = 30
guessed_physics_major = 20

majors = maths_major+economics_major+physics_major
correct_guesses = guessed_maths_major+guessed_economics_major+guessed_physics_major

In [ ]:
# maths accuracy
maths_accuracy = guessed_maths_major/maths_major*100
maths_accuracy

66.66666666666666

In [ ]:
# physics accuracy
physics_accuracy = guessed_physics_major/physics_major*100
physics_accuracy

80.0

In [ ]:
# Economics accuracy
economics_accuracy = guessed_economics_major/economics_major*100
economics_accuracy

66.66666666666666

In [ ]:
Total_accuracy = correct_guesses/majors*100
Total_accuracy

70.0

#Tuples, Sets and Dictionaries.

Another measure of average

Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
unique_temp = list(set(temperatures))

In [ ]:
temp_dict = {}

key = unique_temp[0]
temp_dict[key] = temperatures.count(key)

key = unique_temp[1]
temp_dict[key] = temperatures.count(key)

key = unique_temp[2]
temp_dict[key] = temperatures.count(key)

key = unique_temp[3]
temp_dict[key] = temperatures.count(key)

key = unique_temp[4]
temp_dict[key] = temperatures.count(key)

key = unique_temp[5]
temp_dict[key] = temperatures.count(key)

In [ ]:
temp_dict

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
temp_dict_values = list(temp_dict.values())
max_count= max(temp_dict_values)

most_frequent_temp_index = temp_dict_values.index(max_count)

In [ ]:
most_frequent_temp_index

1

In [ ]:
temp_dict_keys = list(temp_dict.keys())

# Print the list of dictionary keys
print(temp_dict_keys)

# Calculate the mode temperature
mode_temp =  temp_dict_keys[most_frequent_temp_index]
print(f'The mode of the temperatures is {mode_temp}')

[33, 34, 39, 40, 42, 29]
The mode of the temperatures is 34

You are given a list of tuples. You need to replace the last element of the last tuple

Expected output : Replace the last element 70 with 100

output_list = [(10,20,30),(30,40,50),(50,60,100)]

In [ ]:
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
a=list_of_tuples[::-1]
a.append((50,60,100))
print(a)
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
list_of_tuples[-1]= (50,60,100)
print(list_of_tuples)

[(50, 60, 70), (30, 40, 50), (10, 20, 30), (50, 60, 100)]
[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [ ]:
# Default set of stop words
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out",
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last half yearly results'
custom_stop_words = set(["hello","good","morning","half","yearly"])

stop_words.update(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

stop_words.intersection(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}
True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}

#Lists

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

 A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

The expected output

output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

In [ ]:
max_temp = max(temperatures) #42
min_temp = min(temperatures) #29

max_temp_index = temperatures.index(max_temp)
min_temp_index = temperatures.index(min_temp)

temperatures[max_temp_index]==min_temp
temperatures[min_temp_index]==max_temp

False

In [ ]:
temperatures

[34, 40, 29, 33, 42, 37, 39]

Measures of Averages

Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.

Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  ð‘  numbers where  ð‘  is odd, then median is the element in the middle i.e,  (ð‘+12)ð‘¡â„Ž  element. If  ð‘  is even, then median is the mean of  (ð‘2)ð‘¡â„Ž  and  (ð‘2+1)ð‘¡â„Ž  elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
length_product_price = len(prod_price_list)
sum__product_price = sum(prod_price_list)
sorted_prices = sorted(prod_price_list)

length_sorted=len(sorted_prices)

mean = sum__product_price/length_product_price
median_price = (sorted_prices[int(length_sorted/2)] + sorted_prices[int(length_sorted/2)+1])/2

In [ ]:
mean

1975.0

In [ ]:
median_price

660.0

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector.
While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

In [ ]:
a= tech_companies[-1]
b= tech_companies[:-1]+ a

b

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

#BMI CALCULATOR

In [ ]:
height = input()
weight = input()
height = float(height)
print(round(int(weight)/(height**2)))

# LIFE IN WEEKS

In [ ]:
age = input()
age = int(age)
total_weeks = 4680
timeleft = total_weeks-(age*52)
print(f"You have {timeleft} weeks left.")

#Even Odd

In [ ]:
#Even Odd

number = int(input())
if number %2 ==0:
  print("This is an even number.")
else :
  print("This is an odd number.")

#HEADS OR TAILS

In [ ]:
#HEADS OR TAILS
first_flip = random.randint(0,1)
if first_flip == 1:
  print("Heads")
else :
  print("Tails")

# LEAP YEAR

In [ ]:
year = int(input())
if year%4==0:
  if year%100 ==0:
    if year%400==0:
      print("Leap year")
    else:
      print("Not leap year")

  else:
    print("Leap year")

else:
  print("Not leap year")

#TREASURE MAP

In [ ]:
line1 = ["â¬œï¸","ï¸â¬œï¸","ï¸â¬œï¸"]
line2 = ["â¬œï¸","â¬œï¸","ï¸â¬œï¸"]
line3 = ["â¬œï¸ï¸","â¬œï¸ï¸","â¬œï¸ï¸"]
map = [line1, line2, line3]
print("Hiding your treasure! X marks the spot.")
position = input() # Where do you want to put the treasure?
# Your code below
letter = position[0].lower()
abc = ["a", "b", "c"]
letter_index = abc.index(letter)
number_index = int(position[1]) - 1
map[number_index][letter_index] = "X"

print(f"{line1}\n{line2}\n{line3}")

Hiding your treasure! X marks the spot.
B3
['â¬œï¸', 'ï¸â¬œï¸', 'ï¸â¬œï¸']
['â¬œï¸', 'â¬œï¸', 'ï¸â¬œï¸']
['â¬œï¸ï¸', 'X', 'â¬œï¸ï¸']

#FIZZBUZZ

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5 ==0:
    print("FizzBuzz")
  elif i%5 ==0:
    print("Buzz")
  elif i%3==0 :
    print("Fizz")
  else:
    print(i)

# SQUARING NUMBERS

In [ ]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
squared_numbers=[]
for i in numbers:
  i=i*i
  squared_numbers.append(i)
print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [ ]:
result = [x * x for x in numbers ]
print(result)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

#Filtering even numbers

In [ ]:
list_of_strings = input().split(',')
nums = [int(i) for i in list_of_strings]
result = [x for x in nums if x%2==0]
print(result)

12,13,14,15,16,17
[12, 14, 16]

#DAYS IN MONTH

In [ ]:
def is_leap(year):

  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

def days_in_month(year,month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if year %2 == 0 and is_leap(year) == True:
    return 29
  else:
    return month_days[month -1 ]


year = int(input()) # Enter a year
month = int(input()) # Enter a month
days = days_in_month(year, month)
print(days)

#FILTERING EVEN NUMBERS

In [ ]:
list_of_strings = input().split(',')

nums = [int(i) for i in list_of_strings]

result = [x for x in nums if x%2==0]

print(result)

1, 1, 2, 3, 5, 8, 13, 21, 34, 55
[2, 8, 34]

#SQUARING NUMBERS

In [ ]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

squared_numbers=[]
for i in numbers:
  i=i*i
  squared_numbers.append(i)

print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

#Question
As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [ ]:
user_date = input()

2020-05-12

In [ ]:
date_year = user_date[:4]
date_month = user_date[5:7]

if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
else:
    quarter = date_year + '-Q4'

In [ ]:
print(quarter)

#Question
You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [ ]:
locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] ,
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

In [ ]:
heights = locality_data['Height']
mean_height = sum(heights)/len(heights)
print(mean_height)


# Calculate the median height and print it
sorted_heights = sorted(heights)
median_height = sorted_heights[int((len(sorted_heights)+1)/2) - 1]
print(median_height)



# Calculate the mean weight and print it
weights = locality_data['Weight']
# Calculate the mean of the weights
mean_weight = sum(weights)/len(weights)
print(mean_weight)


# Calculate the median height and print it
sorted_weights = sorted(weights)
median_weight = sorted_weights[int((len(sorted_weights)+1)/2 )- 1]
print(median_weight)

# Question
A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user

Number of classes held

Number of classes attended.

In [ ]:
print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
20
Number of classes attended
15

In [ ]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

In [ ]:
print(f'Percentage of class attended is {attendance}')

if attendance < 75:
  print("You are not allowed to sit in the exam")
else:
  print("You are allowed to sit in the exam")

#Question
A school has following rules for grading system:

Below 25 - F

25 to 45 - E

45 to 50 - D

50 to 60 - C

60 to 80 - B

Above 80 - A

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [ ]:
# Your input here
print("Enter your marks")
marks = int(input())

In [ ]:
# Your coder here to print the corresponding grade

if marks<25:
  print("F")
elif marks>=25 and marks<45:
  print("E")
elif marks>=45 and marks<50:
  print("D")
elif marks>=50 and marks<60:
  print("C")
elif marks>=60 and marks<80:
  print("B")
else:
  print("A")

#Question
Create a dictionary where the key corresponds to the position of the alphabet(consider space as the first alphabet) and the value corresponding to the key will be the alphabet.

range() function in Python is pretty useful to get a list of numbers in sequence. You can use help(range) to know more about its details

In [ ]:
# Create a list of numbers from 0 to 26 using the range() function
list_of_numbers = list(range(27))

# Create the list of alphabets. Hint use the split() method
alphabets = " ,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"
alphabet_list =

print(alphabet_list)
# Create a dictionary by zipping together the above two lists
alphabet_dict =


# Print your dictionary to double check;
print(alphabet_dict)

#Question
Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [ ]:
# Default set of stop words
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out",
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
# Update the set of stop words by adding the custom stop words
custom_stop_words = set(["hello","good","morning","half","yearly"])

# Your code here
stop_words.update(custom_stop_words)

# Print the updated stop words
print('hello' in stop_words)
print(stop_words)

True
{'which', 'ourselves', 'all', 'once', 'how', 'i', 'the', 'into', 'because', 'it', 'during', 'nor', 'too', 'when', 'of', 'themselves', 'its', 'most', 'myself', 'their', 'to', 'further', 'an', 'until', 'where', 'off', 's', 'any', 'his', 'are', 'he', 'while', 'good', 'yearly', 'did', 'you', 'those', 'more', 'do', 'up', 'just', 'few', 'these', 'if', 'him', 'after', 'here', 'a', 'our', 'below', 'no', 'own', 'by', 'for', 'is', 'down', 'hello', 'were', 'ours', 'has', 'now', 'so', 'they', 'having', 'herself', 'her', 'as', 'had', 'half', 'over', 'there', 'me', 'against', 'can', 'again', 'don', 'whom', 'same', 'out', 'with', 'only', 'such', 'yours', 'will', 'was', 'yourselves', 'have', 'hers', 'we', 'why', 'theirs', 'your', 'be', 'then', 'but', 'under', 'other', 'am', 'this', 'between', 'both', 'them', 'on', 'and', 'yourself', 'above', 'through', 'himself', 'does', 'that', 'been', 'who', 'not', 'from', 'than', 'should', 't', 'some', 'itself', 'in', 'she', 'about', 'my', 'being', 'before', 'what', 'doing', 'or', 'each', 'at', 'very', 'morning'}

In [ ]:
# Do the same task another way. Keep in mind to use the original set of stop_words for this piece of code
stop_words.intersection(custom_stop_words)

# Print the updated stop words
print('hello' in stop_words)
print(stop_words)

True
{'which', 'ourselves', 'all', 'once', 'how', 'i', 'the', 'into', 'because', 'it', 'during', 'nor', 'too', 'when', 'of', 'themselves', 'its', 'most', 'myself', 'their', 'to', 'further', 'an', 'until', 'where', 'off', 's', 'any', 'his', 'are', 'he', 'while', 'good', 'yearly', 'did', 'you', 'those', 'more', 'do', 'up', 'just', 'few', 'these', 'if', 'him', 'after', 'here', 'a', 'our', 'below', 'no', 'own', 'by', 'for', 'is', 'down', 'hello', 'were', 'ours', 'has', 'now', 'so', 'they', 'having', 'herself', 'her', 'as', 'had', 'half', 'over', 'there', 'me', 'against', 'can', 'again', 'don', 'whom', 'same', 'out', 'with', 'only', 'such', 'yours', 'will', 'was', 'yourselves', 'have', 'hers', 'we', 'why', 'theirs', 'your', 'be', 'then', 'but', 'under', 'other', 'am', 'this', 'between', 'both', 'them', 'on', 'and', 'yourself', 'above', 'through', 'himself', 'does', 'that', 'been', 'who', 'not', 'from', 'than', 'should', 't', 'some', 'itself', 'in', 'she', 'about', 'my', 'being', 'before', 'what', 'doing', 'or', 'each', 'at', 'very', 'morning'}

# Question
Mode is defined as the value that appears most often in a set of data values.
Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
# A list containing average daily temperature over 10 days
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
unique_temperatures = list(set(temperatures))

In [ ]:
print(unique_temperatures)

[33, 34, 39, 40, 42, 29]

In [ ]:
temp_dict = {}

# Set the values for each key separately
# First key
key= unique_temperatures[0]
temp_dict[key]= temperatures.count(key)

# Second key
key= unique_temperatures[1]
temp_dict[key]= temperatures.count(key)


# Third key
key= unique_temperatures[2]
temp_dict[key]= temperatures.count(key)


# Fourth key
key= unique_temperatures[3]
temp_dict[key]= temperatures.count(key)


# Fifth key
key= unique_temperatures[4]
temp_dict[key]= temperatures.count(key)


# Sixth key
key= unique_temperatures[5]
temp_dict[key]= temperatures.count(key)

print(temp_dict)

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
temp_dict_frequencies = list(temp_dict.values())

# Print the list of dictionary values
print(f'The values of temp_dict are {temp_dict_frequencies}')

# Find the index of the most frequent temperature value
max_count= max(temp_dict_frequencies)

most_frequent_temp_index = temp_dict_frequencies.index(max_count)

# Print the index
a=(f'the index of most frequent temperature value is {most_frequent_temp_index}')
print(a.capitalize())       #just trying...

The values of temp_dict are [2, 3, 1, 2, 1, 1]
The index of most frequent temperature value is 1

In [ ]:
temp_dict_keys = list(temp_dict.keys())

# Print the list of dictionary keys
print(temp_dict_keys)

# Calculate the mode temperature
mode_temp =  temp_dict_keys[most_frequent_temp_index]
print(f'The mode of the temperatures is {mode_temp}')

[33, 34, 39, 40, 42, 29]
The mode of the temperatures is 34

#Question
You are given a list of tuples. You need to replace the last element of the last tuple

In [ ]:
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]

In [ ]:
a=list_of_tuples[::-1]
a.append((50,60,100))
print(a)

[(50, 60, 70), (30, 40, 50), (10, 20, 30), (50, 60, 100)]

#Question
Write a Python script to check whether a given key already exists in a dictionary. If it does, drop that key from the dictionary. If it does not, add that key and corresponding value to the dictionary

In [ ]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,
                 'Promotion Year':[2016,2018,2020]}

In [ ]:
'Employee_ID' in employee_dict

# If not present add this key to this dictionary and the corresponding value to be 4503233
employee_dict.update({
    'Employee_ID' : 4503233
})
print(employee_dict)

{'Name': 'Sanket', 'Skills': ['Python', 'Machine Learning', 'Deep Learning'], 'Band': 6.0, 'Promotion Year': [2016, 2018, 2020], 'Employee_ID': 4503233}

In [ ]:
'Band' in employee_dict

# If present, drop this key from the dictionary
employee_dict.pop('Band')
print(employee_dict)

{'Name': 'Sanket', 'Skills': ['Python', 'Machine Learning', 'Deep Learning'], 'Promotion Year': [2016, 2018, 2020], 'Employee_ID': 4503233}

In [ ]:
print(employee_dict)

{'Name': 'Sanket', 'Skills': ['Python', 'Machine Learning', 'Deep Learning'], 'Promotion Year': [2016, 2018, 2020], 'Employee_ID': 4503233}

#Question
calendar library

In [ ]:
import calendar
yy = int(input("enter year"))
mm = int(input("enter month"))
yy = yy
mm = mm
print(calendar.month(yy,mm))

enter year2023
enter month12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

#Question
You are given a sentence : "I have been walking and running and dancing and smiling and laughing all my life, yet it all seems pointless."

You are required to extract all those words from this sentence in a list which ends with ing

In [ ]:
my_sentence = "I have been walking and running and dancing and smiling and laughing all my life, yet it all seems pointless."

In [ ]:
# Using list comprehension, extract those words which ends with ing

all_words_in_sentence = my_sentence.split(' ')
print(str(all_words_in_sentence))

# Words ending with ing
words_ending_with_ing = [ word for word in all_words_in_sentence if word[-3:]=='ing']

# Print those words
print(words_ending_with_ing)

['I', 'have', 'been', 'walking', 'and', 'running', 'and', 'dancing', 'and', 'smiling', 'and', 'laughing', 'all', 'my', 'life,', 'yet', 'it', 'all', 'seems', 'pointless.']
['walking', 'running', 'dancing', 'smiling', 'laughing']

#Question
you are provided with a default set of stop words and you need to add some extra set of custom words and remove these words from the given sentence and obtain the sentence without the stop words

In [ ]:
# A sample sentence

sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last year'

# Print your sentence
print(sentence)

In [ ]:
# Default set of stop words
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out",
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [ ]:
# Update the set of stop words by adding the custom stop words
custom_stop_words = ["hello","good","morning","half","year"]

# Your code here
stop_words.update(custom_stop_words)

# Print the stop words in a sorted manner
stop_word_list = list(sorted(stop_words))
print(stop_word_list)

In [ ]:
# Create the list of words in the given sentence
words_in_sentence = sentence.replace('!', '').replace(',', '').split(' ')
print(words_in_sentence)

In [ ]:
# Use list comprehension to remove the set of updated stop words from the list of words
remove_stop_word =[ word for word in words_in_sentence if word.lower() not in stop_words]
print(remove_stop_word)

In [ ]:
# Finally using the join() method, get the sentence without the stop words. Keep in mind that every word in the sentence will be separated by space
new_sentence= ' '.join(remove_stop_word)

# Print the modified sentence
print(new_sentence)

#Question
Create another list which contains the squares of differences of each element of the two price lists : the actual prices and the predicted prices

In [ ]:
# List of actual house prices
actual_house_prices = list(house_area_price_dict.values())

# Zip the two price lists together
zipping = zip(predicted_house_prices , actual_house_prices)

# List of squared differences between each element of the two lists using list comprehension
squared_difference_in_prices = [(actual-predicted)**2 for actual , predicted in zipping ]
print(squared_difference_in_prices)

#Question
 Python program to check Armstrongâ€™s number.

In [ ]:
num=int(input("Enter the number to check armstrong number: "))
arms = num
length = len(str(num))
sum1 = 0
while num != 0:
	rem = num % 10
	sum1 = sum1+(rem**length)
	num = num//10

if arms == sum1:
	print("The given number", arms, "is armstrong number")
else:
	print("The given number", arms, "is not an armstrong number")

Enter the number to check armstrong number: 153
The given number 153 is armstrong number

#Question
Write a function which takes the excel column name as an input and returns the corresponding column number. A few examples are :

column name = 'J' , column number = 10

column name = 'AP' , column number = 42

column name = 'AAA', column number = 703

In [ ]:
def get_excel_column_number(column_name):
  '''
  This functions returns the corresponding column number for an excel column name
  '''
  if column_name == 'J':
    print('column number = 10')
  elif column_name == 'AP':
    print('column_number =42')
  elif column_name == 'AAA':
    print('column number = 703')
  else:
     print('column name not found')

  return column_name

In [ ]:
get_excel_column_number('BD')

column name not found

'BD'

In [ ]:
get_excel_column_number('ALQ')

column name not found

'ALQ'

#Question
Write a Python function which takes a sentence and a length value as inputs and returns the counts of those words from the sentence whose length is equal to the provided input length value.

Suppose if the input for the length value is 5, it will return the count of all those words which are of length 5

In [ ]:
marvel_quote = "The world has changed and none of us can go back. All we can do is our best, and sometimes the best that we can do is to start over."

In [ ]:
def fixed_length_word_counts(sentence, length=3):
  '''
  This function returns the count of the words with the given input length
  '''
  list_of_words = sentence.replace(',','').replace('.','').split(' ')

  required_sentence= [ words for words in list_of_words if len(words)==length  ]

  return required_sentence

In [ ]:
print(fixed_length_word_counts(marvel_quote , length= 4 ))

['none', 'back', 'best', 'best', 'that', 'over']

#Question
Write a Python program to find the factorial of a number.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

#Question
Write a Python program to find the largest element in a list.

In [1]:
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Test the function
nums = [10, 5, 8, 20, 3]
largest_num = find_largest(nums)
print(f"The largest number is {largest_num}")

The largest number is 20

#Question